<div class="login-container">
  <form (submit)="onSubmit($event)" class="login-form">
    <h1 class="login-form__title">Acme</h1>

    <fieldset [disabled]="loading()" class="login-form__group">
      <div class="login-form__field">
        <label for="email">Email</label>

        <input
          pInputText
          id="email"
          type="email"
          [formField]="loginForm.email"
          class="login-form__input"
          [class.p-invalid]="loginForm.email().touched() && loginForm.email().invalid()"
        />

        <div class="login-form__error-container">
          @if (loginForm.email().touched() && loginForm.email().invalid()) {
            <small class="error-text">
              @for (error of loginForm.email().errors(); track $index) {
                {{ error.message }}
              }
            </small>
          }
        </div>
      </div>

      <div class="login-form__field">
        <label for="password">Password</label>

        <p-password
          id="password"
          [formField]="$any(loginForm.password)"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          [class.p-invalid]="loginForm.password().touched() && loginForm.password().invalid()"
          class="login-form__password-field"
          inputStyleClass="login-form__input"
        />

        <div class="login-form__error-container"></div>
      </div>
    </fieldset>

    <div class="login-form__options">
      <div class="flex-row">
        <p-checkbox [formField]="loginForm.rememberMe" binary="true" inputId="rememberMe" />
        <label for="rememberMe" class="login-form__checkbox-label"> Recordar sesión </label>
      </div>

      <a [routerLink]="['/forgot-password']" class="login-form__forgot-link">
        ¿Olvidaste tu contraseña?
      </a>

      <!-- <a routerLink="/forgot-password" class="login-form__forgot-link">¿Olvidaste tu contraseña?</a> -->
    </div>

    <p-button
      type="submit"
      label="Log In"
      class="login-form__button"
      [loading]="loading()"
      [disabled]="loginForm().invalid() || loading()"
    />

    @if (authError()) {
      <p-message severity="error">{{ authError() }}</p-message>
    }
  </form>
</div>
